@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-700: #044fb1;
  --neutral-600: #0f0f0f;
}

.marquee img {
  animation: marquee 5s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-150%);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
